h1, h2, h3, h4, h5, h6, p, a, span, div, nav, footer, header, button, img, body, input, html, ul, li, label, select, option, dl, dt, dd {
    margin: 0 auto;
}

.width {
    width: 1280px;
}

/*头部开始*/
header {
    position: relative;
    background-color: #fff;
    padding: 13px 57px;
}

.logo {
    float: left;
}

.header-right {
    float: right;
}

.logo {
    display: inline-block;
    font-size: 21px;
    color: #393a3a;
    font-family: "黑体", sans-serif;
}

.logo > img {
    margin-right: 10px;
}

.nav {
    display: inline-block;
    vertical-align: middle;
}

.nav li {
    float: left;
    padding: 0 20px;
    list-style-type: none;
}

.nav a,
.login {
    font-size: 14px;
}

.nav a {
    color: #83868d;
}

.nav a:hover {
    color: #e74f4d;
}

.active {
    display: none;
    position: absolute;
    width: 100px;
    height: 3px;
    background-color: #e74f4d;

}

.login {
    display: inline-block;
    margin-left: 20px;
    color: #e74f4d;
}

/*广告图开始*/
.banner {
    height: 854px;
    background: url("../images/t7-banner.png") no-repeat;
    background-size: cover;

}

.cover {
    width: 100%;
    height: 100%;
    padding-top: 1px;

}

.banner .cover {
    background-color: rgba(0, 0, 0, .5);
}

.banner {
    color: #fff;
}

.banner > h1 {
    font-size: 55px;
}

.banner p {
    font-size: 21px;
    margin-bottom: 10px;
}

.banner p,
.b-btn {
    margin-left: 116px;
}

.banner .banner-tit {
    font-size: 55px;
    line-height: 30px;
    margin-top: 230px;
    margin-bottom: 30px;
}

.b-btn {
    display: inline-block;
    width: 331px;
    height: 65px;
    line-height: 65px;
    font-size: 30px;
    color: #fff;
    text-align: center;
    background-color: #e74f4d;
    margin-top: 55px;
}

/*小介绍开始*/
.into-box {
    display: flex;
    margin-bottom: 66px;
}

.into-box dl {
    text-align: center;
}

.into-box dt {
    width: 42px;
    height: 42px;
    margin: 45px auto;
}

.into-box dd {
    height: 50px;
    padding: 0 80px;
    font-size: 14px;
    color: #8d8d8d;
    border-right: 2px solid #989899;
}

.into-box dl:last-child > dd {
    border-right: none;
}

/*搜索区开始*/
.what-tit {
    padding-top: 1px;
    padding-bottom: 30px;
    text-align: center;
    background-color: #edecec;
}

.what-tit > img {
    width: 92px;
    height: 92px;
    margin-top: 87px;
}

.what-tit > h1 {
    font-size: 54px;
    margin-top: 50px;
    margin-bottom: 50px;
    color: #a1a1a1;
}

.searchB {
    height: 340px;
    padding-top: 1px;
    background: url("../images/t7-8.png") no-repeat;
    background-size: cover;
}

.searchB .cover {
    background-color: rgba(170, 53, 51, .2);
}

.searchB-top {
    color: #fff;
    text-align: center;
    margin-bottom: 50px;
}

.searchB-top p:nth-of-type(1) {
    font-size: 21px;
    line-height: 42px;
    margin-bottom: 8px;
    margin-top: 50px;
}

.sub {
    padding-bottom: 8px;
    border-bottom: 2px solid #fff;
}

.searchB-top p:nth-of-type(2) {
    font-size: 14px;
    line-height: 31.27px;
}

/*搜索框*/
.search {
    margin-left: 50px;
    display: flex;
    align-items: self-end;
}

.list,
.searchBtn {
    width: 236px;
}

.list {
    box-shadow: 0 0 5px 1px #be4e48;
    background-color: #fff;
    color: #b5b7b7;
    font-size: 14px;
}

.list li {
    list-style-type: none;
    background-color: #fff;
}

.list > li:nth-of-type(1) {
    margin: 10px 12px;
    background: url("../images/t7-9.png") no-repeat right;
    cursor: pointer;
}

.list ul {
    display: none;
}

.list ul li {
    padding: 5px 0 5px 35px;
    background-color: #e3e2e4;
    cursor: pointer;
    color: #787879;
}

.list ul li:hover {
    color: #fff;
    background: #be4e48 url(../images/t7-9.png) no-repeat 8px;
}

.searchBtn {
    padding: 10px 12px;
    background-color: #be4e48;
    color: #fff;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 14px;
}

/*活动区*/

.act {
    padding-top: 1px;
    background-color: #f8f8f8;
}

.act > div {
    width: 985px;
    margin: auto;
    padding: 100px 0;
    display: flex;
    text-align: center;
}

.act-into > div {
    padding: 10px 8px;
    border: 1px solid #e1e1e1;
    background-color: #fff;

}

.act-into p:nth-of-type(1) {
    font-size: 16px;
    font-weight: bold;
    margin: 12px auto;
}

.act-into p:nth-of-type(2) {
    font-size: 12px;
    color: #818181;
}

.act-into p.act-tit {
    font-size: 22px;
    margin: 0;
    padding: 0 15px;
    height: 29px;
    text-align: justify;
}

.act-into p.act-tit:after {
    content: "";
    display: inline-block;
    width: 100%;
    overflow: hidden;
}

.act-into p.act-msg {
    margin: 10px auto;
}

/*查看更多开始*/
.new-word > div {
    display: flex;
}

/*新世界第一排*/
.time {
    width: 852px;
    padding-top: 1px;
    height: 563px;
    background: url("../images/t7-14.png") no-repeat;
    color: #fff;
    text-align: center;
}

.time > div {
    width: 380px;
    margin: 130px auto 0;
}

.time p:nth-of-type(1) {
    font-size: 49px;
}

.time p:nth-of-type(2) {
    font-size: 158px;
}

.time p:nth-of-type(3),
.time p:nth-of-type(4) {
    font-size: 22px;
}

/*图片右边*/
.time-more {
    width: 428px;
    background-color: #fff;
    position: relative;
}

.time-more:after {
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border: 22px solid transparent;
    border-right-width: 25px;
    border-top-width: 15px;
    border-bottom-width: 15px;
    border-right-color: #fff;
    left: -47px;
    top: 50%;
}

.more-box {
    position: relative;
    width: 288px;
    height: 288px;
    margin: auto;
    margin-top: -144px;
    top: 50%;
    text-align: center;
}

.tit {
    font-size: 22px;
    margin-bottom: 20px;
}

.tit > span {
    color: #e74f4d;
    font-weight: bold;
}

.txt {
    overflow: hidden;
}

.tab-list {
    list-style-type: none;
    width: 864px;
    height: 126px;
    text-align: left;
}

.tab-list li {
    width: 288px;
    float: left;
    font-size: 12px;
    line-height: 30px;
    color: #919192;
}

.more-btn {
    font-size: 12px;
    color: #e74f4d;
    border: 1px solid #e74f4d;
    padding: 10px 27px;
    margin-top: 40px;
    margin-bottom: 40px;
    font-weight: bold;
    display: inline-block;
}

.dot {
    width: 100px;
    display: flex;
}

.dot li {
    width: 12px;
    height: 12px;
    border-radius: 50px;
    list-style-type: none;
    border: 1px solid #919192;
    cursor: pointer;
}

.dot-act {
    background-color: #919192;
}

/*新世界第二排*/

.more-one {
    background-color: #e74f4d;
    color: #fff;
}

.more-one .tit,
.more-two .tit {
    padding-top: 60px;
}

.more-one p,
.more-two p {
    font-size: 21px;
}

.more-one .more-btn,
.more-two .more-btn {
    padding: 10px 40px;
    font-size: 21px;
    margin-top: 60px;
}

.more-one .more-btn {
    border: 1px solid #fff;
    color: #fff;
}

.more-one.time-more:after {
    display: none;
}

.more-two.time-more:after {
    border-left-color: #fff;
    border-right-color: transparent;
    right: -47px;
    left: auto;
}

.word-img {
    width: 431px;
}

.more-one .b-sub {
    border-bottom: 2px solid #fff;
}

.more-one .b-sub,
.more-two .b-sub {
    padding-bottom: 25px;
    margin-top: 60px;
}

.more-two .b-sub {
    border-bottom: 2px solid #ababaa;
}

/*加入*/
.join {
    margin-top: 118px;
}

.join-top {
    text-align: center;
}

.join-top > h3 {
    font-size: 21px;
    font-weight: bold;
    line-height: 30px;
    margin-bottom: 25px;
}

.join-top > h3 > span {
    border-bottom: 2px solid #e74f4d;
    padding-bottom: 10px;
}

.join-top > p {
    width: 580px;
    color: #b7b7b7;
}

/*列表*/
.t7-content {
    width: 1005px;
    margin: auto;
    margin-top: 100px;
}

.join-list {
    float: left;
    width: 289px;
    position: relative;
}

.join-list dl {
    margin-bottom: 30px;
}

.join-list dt {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 26px;
}

.join-list dd {
    line-height: 21px;
}

.join-list dd,
.join-list a {
    font-size: 12px;
    color: #b7b7b7;
}

.join-list a {
    position: absolute;
    right: 0;
    line-height: 19px;
}

/*表单*/
.t7-form {
    width: 639px;
    float: left;
    margin-left: 70px;
}

.t7-form > div {
    float: left;
    width: 312px;
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    margin-bottom: 15px;
}

.t7-form > div:nth-child(2n+1) {
    margin-right: 15px;
}

.t7-form .text {
    width: 100%;
    height: 130px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.t7-form textarea {

    resize: none;
}

.t7-form button,
.t7-form > div {
    background-color: #edecee;
}

.t7-form input,
.t7-form textarea {
    width: 100%;
    height: 100%;
    font-size: 12px;
    border: none;
    background-color: transparent;
    outline: none;
}

.t7-form button {
    width: 100%;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    border: none;
    outline: none;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}

.t7-form button:hover {
    background-color: #e74f4d;
    color: #fff;
}

/*联系我们*/
.contact {
    padding-top: 90px;
    padding-bottom: 73px;
    background-color: #32353e;
    margin-top: 165px;
}

.contact > div {
    width: 514px;
    margin: auto;
}

.contact .join-top > h3,
.contact .join-top > p {
    color: #fff;
}

.t7-form-t {
    margin-top: 30px;
}

.t7-form-t > div {
    display: flex;
}

.t7-email {
    width: 80%;
    height: 40px;
    line-height: 40px;
    padding-left: 10px;
    background-color: #fff;
}

.t7-form-t input {
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    background-color: transparent;
}

.t7-form-t button {
    width: 20%;
    color: #d6d6d8;
    font-weight: bold;
    border: none;
    outline: none;
    font-size: 15px;
    background-color: #707278;
    cursor: pointer;
}
.t7-form-t button:hover {
    background-color: #e74f4d;
    color: #fff;
}
.t7-icons{
    margin-top: 35px;

    text-align: center;
}
.t7-icons > a{
    margin-right: 25px;
}

.t7-footer{
    color: #fff;
    padding: 30px 97px 15px;
    font-size: 12px;
    background-color: #2f2f38;
}
