* {
    margin: 0;
    padding: 0;
}
div{
    width: 98px;
    height: 100px;
    margin-left: 20px;
    background-color: pink;
    border: 1px solid #938e8c;
    /*position: absolute;*/
    /*display:none;*/
}
button{
    margin-left: 20px;
    width: 100px;
    background-color: pink;
    border: 1px solid #938e8c;
}
button:focus{
   outline: none;
}